@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

/*
 * Variables
 */

pre,
h4,
form > a,
.download {
	color: white;
	text-shadow: .08em .08em .2em rgba(0,0,0,.6);
	background-image: -moz-linear-gradient(transparent, rgba(10,0,0,.3));
	background-image: -ms-linear-gradient(transparent, rgba(10,0,0,.3));
	background-image: -o-linear-gradient(transparent, rgba(10,0,0,.3));
	background-image: -webkit-linear-gradient(transparent, rgba(10,0,0,.3));
	background-image: linear-gradient(transparent, rgba(10,0,0,.3));
}

h2, h3, footer, .download, form > a {
	font-family: 'Dancing Script', cursive;
	line-height: 1;
}

body, #toc {
	border: 20px solid transparent;
	-moz-border-image: url(img/cloth.png) 33.33% round; /* FF buggy w/ border-image SVGs */
	-o-border-image: url(img/cloth.svg) 33.33% round;
	-webkit-border-image: url(img/cloth.svg) 33.33% round;
	border-image: url(img/cloth.svg) 33.33% round fill;
}

/*
 * Styles
 */

* {
	margin: 0
}

html {
	background: white url(img/background.jpg);
}

body {
	position: relative;
	max-width: 510px;
	padding: 40px 60px;
	margin: 1em auto;
	font-family: sans-serif;
	line-height: 1.4;
	
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

h1, h2, h3, p, li {
	text-shadow: 0 1px white;
}

h2, h3, p {
	margin: 1em 0 0;
}

h2 {
	font-size: 300%;
	color: #b00;
}

h3 {
	font-size: 200%;
}

h2 + h3 {
	margin-top: .5em;
}

pre + p, h4 + p {
	margin-top: .5em;
}

pre,
h4,
form > a {
	position: relative;
	padding: .6em;
	margin: 1em -1.3em;
	background-color: #433;
	background-color: rgba(25,0,0,.7);
	border-radius: .5em;
	box-shadow: 1px 2px 8px -2px black;
	overflow: auto;
}

	pre > code,
	h4 > code,
	form > a > strong {
		display: block;
		
		position: relative;
		z-index: 0;
		padding: .6em .8em;
		border: 1px dashed rgba(255, 255, 255, .5);
	}
	
	pre > code:after,
	h4 > code:after,
	form > a > strong:after {
		content: '';
		position: absolute;
		top: 0;
		right: -2px;
		bottom: -2px;
		left: 0;
		z-index: -1;
		border: 1px dashed black;
	}

a {
	color: #b00;
}

code {
	font: bold 105% Consolas, monospace;
	font-weight: bold;
}

ul {
	padding: 0;
	list-style: square;
}

hgroup {
	display: block;
	text-align: center;
	font-size: 180%;
	line-height: .8;
}

	h1 {
		font-size: 280%;
		letter-spacing: -.05em
	}
		
		h1:before {
			content: '';
			background: url(img/logo.svg) no-repeat center;
			display: block;
			margin: 0 auto .2em;
			width: 66px;
			height: 66px;
			
		}
	
	hgroup > h2 {
		margin: 0;
		font-size: 100%;
	}
	
.promo {
	font-size: 140%;
	color: rgba(0,0,0,.8);
}
	
.download {
	position: absolute;
	top: 1em;
	right: -3em;
	width: 6em;
	height: 6em;
	padding: 1em 0;
	background-color: #c00;
	
	line-height: 1;
	font-size: 140%;
	text-align: center;
	text-decoration: none;
	
	border-radius: 50%;
	box-shadow: .1em .2em .4em -.2em black;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}

	.download strong {
		display: block;
		margin-top: .15em;
		font-size: 150%;
		font-family: sans-serif;
		white-space: nowrap;
	}
	
	.download:after {
		content: attr(title);
		position: absolute;
		top: 9.5em;
		right: -2em;
		color: black;
		color: rgba(0,0,0,.7);
		text-shadow: 0 1px white;
		white-space: nowrap;
		
		-moz-transform: rotate(255deg);
		-ms-transform: rotate(255deg);
		-o-transform: rotate(255deg);
		-webkit-transform: rotate(255deg);
		transform: rotate(255deg);
	}
	
.github {
	position: fixed;
	top: 0;
	left: 0;
}

	.github img {
		border: 0;
	}

.phonetic {
	font-family:Georgia, serif;
	opacity: .8;
}

.twitter-share-button {
	position: fixed;
	top: 10px;
	right: 10px;
}

footer {
	margin-top: 2em;
	text-align: center;
	font-size: 150%;
}

#toc {
	position: fixed;
	top: 10em;
	left: 50%;
	margin-left: -580px;
	z-index: -1;
	width: 11em;
	padding: .5em 1em;
	font-size: 80%;
	text-align: center;
	
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

	#toc > h2 {
		margin: 0 0 .2em;
		font-size: 320%;
		text-shadow: 0 1px rgba(255,255,255,.4);
	}
	
	#toc > ol {
		padding: 0;
	}
	
		#toc > ol > li {
			list-style: none;
		}
		
			#toc > ol > li > a {
				display: block;
				text-decoration: none;
				color: black;
				font-size: 120%;
				font-weight: bold;
			}
			
			#toc > ol > li > a:hover {
				color: #a00;
			}

/* form {} */
	
	form label {
		display: block;
		padding: .2em;
		font-size: 140%;
	}
	
	form input[type="checkbox"] {
		margin-right: .7em;
	}
	
	form p:first-child + p {
		display: none;
	}
	
	form.open p:first-child + p {
		display: block;
	}
	
	form progress {
		display: block;
	}
	
	form > a {
		display: none;
		width: 300px;
		padding: .2em;
		margin: 1em auto;
		text-decoration: none;
		font-size: 250%;
		text-align: center;
		border-radius: .2em;
	}
	
	form.open > a {
		display: block;
	}
	
		form > a > strong {
			padding: .2em 0 .3em;
		}